* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

header {
    margin: 1em;
}

.me-hide {
    display: none;
}

.quiz-item {
    border: 1px solid red;
}

.quiz-question {
    margin-bottom: 1em;
}

.quiz-answer {
    margin: 0 auto;
    width: max-content;
    text-align: left;
}

.quiz-answer label {
    display: block;
}

.quiz-answer input {
    margin-right: .5em;
}